.square {
  height: 2.5rem;
  width: 2.5rem;
  /* border: 1px solid black; */
  background-color: green;
}

/* .tileSlot {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  background-color: red;
} */

body {
  background-color: black;
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
  color: green;
}

h1 {
 color: orange;
}

td {
 height: 2.5rem;
 width: 2.5em;
 min-width: 2.5rem;
 /* background-color: green; */
}

/* #s0\:0, #s0\:7, #s0\:14, #s7\:0, #s7\:14, #s14\:0, #s14\:7, #s14\:14 {
  background-color: red;
} */

td.triple-word {
 background-color: red;
}

td.double-word {
 background-color: salmon;
}

td.triple-letter {
 background-color: blue;
}

td.double-letter {
 background-color: lightblue;
}

div {
 display: inline-block;
 vertical-align: top;
 height: auto;
}

div.button-container, div.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

div.board {
  margin: 1rem;
}

section {
  display: block;
  margin: 1rem;
}

section.rack {
  display: flex;
  align-items: bottom;
  background-color: black;
  padding: 0 1rem 1rem 1rem;
}

table {
  display: inline;
  margin: 0 auto;
}

td.score, td.swap-pass {
  width: 4.5rem;
  background-color: linen;
}

td.rack {
  background-color: linen;
}

button {
  background-color: green;
  color: black;
  font-size: 1.2rem;
  border-bottom: 2px solid darkslategrey;
  border-right: 2px solid darkslategrey;
  border-top: 0;
  border-left: 0;
  border-radius: 0.2rem;
  padding: 0.5rem;
  margin: 0.5rem;
}

button#new-game {
  position: fixed;
  top: 50%;
}

/* td.rack {
  background-color: black;
} */

.tile, .tileSlot {
  background-color: orange;
  color: black;
  height: 2.3rem;
  width: 2.3rem;
  text-align: center;
  vertical-align: middle;
  line-height: 2.3rem;
  border-radius: 0.2rem;
  border-bottom: 2px solid maroon;
  border-right: 2px solid maroon;
}

form, input, submit {
  background-color: black;
  color: green;
  font-size: 1.2rem;
  margin: 0.5rem;
  padding: 0.5rem;
}

input {
  background-color: white;
  color: black;
}

input.start-game {
  background-color: green;
  border-radius: 0.2rem;
  border: 0;
  border-bottom: 2px solid darkslategrey;
  border-right: 2px solid darkslategrey;
  border-top: 0;
  border-left: 0;
}

li {
  list-style-type: none;
}

form {
  position: fixed;
  top: 30%;
}

ol {
  padding: 0;
  margin: 0;
}

div#player-score-wrapper, div#score-wrapper, div#board-wrapper {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  vertical-align: top;
}

tr#score-row td {
  background-color: black;
  font-size: 3rem;
}

tr#score-row td, th {
  color: orange;
}

div#score-wrapper {
  display: flex;
  flex-direction: row;
  border: 1px solid white;
}

div#lead-view, div#bag, table {
  margin: 1rem;
}

.on-board, .hide {
  visibility: hidden;
}
